{% extends "layout.html" %}
{% block body_content %}
<p>Welcome to my first web app!</p>
<p><a href="{{ url_for('about') }}">About Page</a></p>
<p><a href="{{ url_for('register') }}">Registeration Page</a></p>
{% for post in blogData %}
        <div>
            <h3>{{ post.title }}</h3>
            <p><b> - First name:</b>{{ post.name.first }}</p>
            <p><b> - Last name:</b>{{ post.name.last }}</p>
            <p> -- {{ post.content }}</p>
        </div>
    {% endfor %}
<p>end of home page</p>
{% endblock body_content %}