{% extends "layout.html" %}
{{ form.hidden_tag() }}
{% block body_content %}
<section id="intro">
</br>
</br>
    <div class='form'>
        <form id='form' method='POST' action=''>
            {{ form.first_name.label }}
            {{ form.first_name }}
            {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
            <br><span>{{ error }}</span>
            {% endfor %}
            {% endif %}
            <br>
            {{ form.last_name.label }}
            {{ form.last_name }}
            {% if form.last_name.errors %}
            {% for error in form.last_name.errors %}
            <br><span>{{ error }}</span>
            {% endfor %}
            {% endif %}
            <br>
            {{ form.title.label }}
            {{ form.title }}
            {% if form.title.errors %}
            {% for error in form.title.errors %}
            <br><span>{{ error }}</span>
            {% endfor %}
            {% endif %}
            <br>
            {{ form.content.label }}
            {{ form.content }}
            {% if form.content.errors %}
            {% for error in form.content.errors %}
            <br><span>{{  error }}</span>
            {% endfor %}
            {% endif %}
            <br>
            {{ form.submit }}
        
        
        </form>
    </div></section>
{% endblock %}